@media (max-width: 959px) {
}
body {
  font-family: 'Tangerine', serif;
}

.container-fluid {    
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
