<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="shortcut icon" type="image/x-icon" href={{site.basedir}}/favicon.ico>
	   
    <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href={{ site.basedir }}/assets/css/style.css>  
	  
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>




<div class="container-fluid">
	<div class="row">
        <picture class="w-100">
  		<source media="(min-width: 600px)" srcset={{ site.basedir }}/assets/img/land.png>
  		<source media="(max-width: 599px)" srcset={{ site.basedir }}/assets/img/mobile.png>
  		<img src="assets/img/land.png" alt="False Consciousness Studios" class="img-fluid w-100">
	</picture>
	</div>
	
	<div class="row w-100">
    <div class="jumbotron w-100">
	  <h1 class="display-4 text-center">Collection: celebs-as-pizza</h1>
          <h2 class="display-4 text-center">Artist Statement: "It's pizza time!"</h2>
    </div>
		
	<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923488007993950209"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923484709459066881"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923483609947439105"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923482510435811329"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923485808970694657"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923489107505577985"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923481410924183553"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923486908482322433"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923478112389300225"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923490207017205761"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	</div>

<div class="row w-100">
    <div class="jumbotron w-100">
	  <h1 class="display-4 text-center">Collection: Affordable Housing</h1>
          <h2 class="display-4 text-center">Artist Statement: "After a lifetime of hard work, buy the house of your dreams!"</h2>
    </div>
	
	
		<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923491306528833537"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923492406040461313"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	        </div>
	
		<div class="row w-100">
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923494605063716865"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
		<div class="col-md-6 embedcard">
			<nft-card
                          contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e" 
		          tokenId="9731185974780118394621434101192329758535182047295482032940923495704575344641"
			  network="mainnet"
			  width="100%"
			  height="100%"
			  >
			</nft-card>
		</div>
	        </div>
	
	    <div class="jumbotron w-100">
	  <h1 class="display-4 text-center">Press, commissions, direct sales: info@falsecon.com</h1>
        </div>
	</body>
